<section id="formulario-home" class="d-flex justify-content-center align-items-center">
    <form #atencionForm="ngForm" (ngSubmit)="saveAtencion()" class="needs-validation">
        <div class="card">
                <div class="card-header">
                    <h1 class="card-title">
                    Para una mejor atención, por favor ingrese sus datos:
                    </h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label class="col-form-label control-label" for="nombre">Nombre</label>
                                <input required name="nombre" id="nombre" [(ngModel)]="atencion.Nombre" class="form-control" #nombre=ngModel [class.is-invalid]="nombre.invalid && nombre.touched"
                                [class.is-valid]="nombre.valid">
                                <span class="invalid-feedback" *ngIf="nombre.invalid && nombre.touched">
                                    Nombre Invalido
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label control-label" for="rut">Rut</label>
                                <input required name="rut" [(ngModel)]="atencion.Rut" id="rut" #rut=ngModel class="form-control"[class.is-invalid]="rut.invalid && rut.touched"
                                [class.is-valid]="rut.valid">
                                <span class="invalid-feedback" *ngIf="rut.invalid && rut.touched">
                                        Rut Invalido
                                </span>
                            </div>
                        </div>
                        <div id="radiosAtencion" class="col-xl-4 form-group">
                            <div class="custom-control custom-radio">
                                <input required class="custom-control-input" type="radio" name="rdCLiente" [class.is-invalid]="esCliente.invalid && esCliente.touched" [class.is-valid]="esCliente.valid" [(ngModel)]="atencion.EsCliente" #esCliente=ngModel id="radioGrupo1" value="1">
                                <label class="custom-control-label" for="radioGrupo1">Es Cliente</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input required class="custom-control-input" type="radio" name="rdCLiente" [class.is-invalid]="esCliente.invalid && esCliente.touched" [class.is-valid]="esCliente.valid" [(ngModel)]="atencion.EsCliente" #esCliente=ngModel id="radioGrupo2" value="0">
                                <label class="custom-control-label" for="radioGrupo2"> No es Cliente</label>
                                <span class="invalid-feedback" *ngIf="nombre.invalid && nombre.touched">
                                    Tipo cliente no valido
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tipo de servicio</label>
                        <select appSelectValidator="-1" (change)="solicitarComentario($event)" [class.is-invalid]="tipoServicio.invalid && tipoServicio.errors?.defaultSelected" [class.is-valid]="!tipoServicio.errors?.defaultSelected" [(ngModel)]="atencion.TipoServicio" name="TipoServicio" #tipoServicio="ngModel" class="form-control col-sm-4">
                            <option value="-1">Seleccione un Servicio...</option>
                            <option *ngFor="let ser of lstServicios" value="{{ser.id_servicio}}|{{ser.solicitar_comentario}}">
                                {{ser.descripcion}}
                                <input #valorComentario type="hidden" id="ValorComentario" name="ValorComentario" [value]="ser.solicitar_comentario">
                            </option>
                        </select>
                        Valor Comentario: {{ tipoServicio.value }}
                        <span class="invalid-feedback" *ngIf="tipoServicio.invalid && tipoServicio.errors?.defaultSelected">
                                Tipo cliente no valido
                        </span>
                    </div>
                    <div *ngIf="lstServicios!=null">
                        <div #vistaComentario class="form-group" [hidden]="esHiddenTxtBox">
                                <label>Comentario</label>
                                <textarea [required]="esRequiredTxtBox" class="form-control col-sm-6" name="txaComentario" rows="3" [(ngModel)]="atencion.Comentario" #comentario="ngModel" [class.is-invalid]="comentario.invalid && comentario.touched" [class.is-valid]="comentario.valid"></textarea>
                                <span class="invalid-feedback" *ngIf="comentario.invalid && comentario.touched">
                                        Tipo cliente no valido
                                </span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="atencionForm.invalid">Guardar</button>
                </div>
        </div>
    </form>
</section>
Angular Generated Form Model: {{atencionForm.value | json}}
<br>
<br>
Our Atencion Model: {{atencion | json}}